@media screen and (min-width: 921px) {
    .logo {
        display: flex;
        justify-content: center;
        margin-bottom: 3rem;
    }

    .main {
        max-width: 920px;
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        grid-template-rows: 1fr;
    }

    .total-section {
        height: 100%;
        position: relative;
    }

    .total-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .tip-grid {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        grid-template-rows: 1fr;
    }

    .tip-grid,
    input:not([name="custom-tip-input"]),
    .reset-button {
        width: 100%;
    }

    .reset-button {
        position: absolute;
        bottom: 0;
    }
}

@media screen and (min-height: 483px) {
    body {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }
}