@media screen and (max-width: 900px) {
    .logo {
        display: flex;
        justify-content: center;
        margin-block: 1.5rem;
    }

    .container {
        padding-inline: 1rem;
        padding-top: 1rem;
    }

    .bill, .people-amount {
        position: relative;
    }

    .input-icon {
        position: absolute;
        bottom: 12px;
        left: 16px;
        max-width: 17px;
        max-height: 17px;
    }

    .input-icon img {
        width: 100%;
        height: 100%;
    }

    .tip-select-grid {
        display: grid;
        gap: 1rem;
        grid-template-rows: repeat(3, 33%);
        grid-template-columns: repeat(2, calc(50% - 0.5rem));
    }

    .row {
        display: flex;
    }

    .row-value {
        margin-left: auto;
    }

    .row-reset-button {
        width: 100%;
    }

    input[name="bill-input"], input[name="people-amount-input"] {
        width: 100%;
        padding-left: 1.5rem; 
    }
}