html {
    font-size: 24px
}

body {
    font-family: 'Space Mono', monospace;
    background: hsl(185, 41%, 84%);
    height: 100vh;
}

.main {
    background: hsl(0, 0%, 100%);
    border-radius: 24px;
}

button {
    background: hsl(183, 100%, 15%);
    color:hsl(0, 0%, 100%);
    border: none;
    border-radius: 8px;
    padding-block: 0.25rem;
}

.reset-button {
    background: hsl(172, 67%, 45%);
    color: hsl(183, 100%, 15%);
    text-transform: uppercase;
    font-size: 0.8rem;
    padding-block: 0.4rem;
}

.row-value h1 {
    color: hsl(172, 67%, 45%);
}

.row-title p:nth-child(1) {
    color: hsl(0, 0%, 100%);
}

.row-title p:nth-child(2) {
    color: hsl(184, 14%, 56%);
}

p {
    color: hsl(186, 14%, 43%);
}

.total-section {
    background: hsl(183, 100%, 15%);
    border-radius: 16px;
}

input {
    background: hsl(189, 41%, 97%);
    /*background: hsl(180, 53%, 29%);*/
    color: hsl(183, 100%, 15%);
    border: none;
    direction: rtl;
    border-radius: 8px;
    padding-block: 0.2rem;
    padding-inline: 0.7rem;
}